/* PAGE header
------------------*/
header {
  color: blue;
}
body {
  background-color: lightblue;
  font-family: comic sans;
  font-size: 45px
}
h1{
  background-color: yellow;
}
*, *:before, *:after {
  box-sizing: inherit;
}
header, section, footer{
  margin: 100px;
  padding: 15px, 10px;
}
.images{
  width: 2px;
  height: 2px;
  margin: 1040px;
  padding: 150px, 100px;
}
